html,
body {
  /* height: 100%;
  width: 100%; */
  margin: 0;
  padding: 0;
  background-color: aqua;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

div,h1{
  margin: 20px;
  flex-direction: column;
}

#joke{
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
